*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*------------------Parte 1---------------------*/
header{
    background-color: #23232e;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

/*---------------Parte 2------------------*/
.nome{
    display: flex;
    align-items: center;
    margin-right: 600px;
}
.nome a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.logo{
    border: white solid;
    background-color: white;
    border-radius: 100%;
}
.ilogo{
    width: 80px;
    height: 80px;
}

/*---------------Parte 3----------------------*/
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;

}
.nav-link{
    text-decoration: none;
    font-size: 1.15em;
    color: white;
    font-weight: 400;
}

/*----------Parte 4---------*/
.login-buttom button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
}
.login-buttom button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
/*-----------------Parte 5-------------*/
.mobile-menu{
    cursor: pointer;
    justify-content: left;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}
/*-------------------------Parte 6--------------*/
a{
    text-decoration: none;
    color: white;
    transition: 0.7s;
}
a:hover{
    opacity: 0.6;
}
