*{
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
}
.Adalberto{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 245, 234);
}
.bugbotton {

    background-color: #2f2f2f;
    border-color: #00ffae;
    border-radius: 20%;
    transition: all 0.4s ease-out;

}
.bugbotton:hover,
.bugbotton-close,
.bugbotton-submite {
    opacity: 0.8;
}
.bugbotton:active,
.bugbotton-close,
.bugbotton-submite {
    transform:scale(0.8) ;
}
.popup{
    position: absolute;
    background-color: black  ;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    display: block;
    width: 300px;
    height: 300px;
    transition: all 0.4s ease-out;
    z-index: -1;
    transform: scale(0.4);
    opacity: 0;
    border: 4px solid #038c61;
}
.popup.opened{

    z-index: 999;
    transform: scale(1);
    opacity: 1;
}
.checkboxtxt{
    margin: 19px;
}
.Bug{
    top: 7px;
    left: 7px;
    font-size:small;
 color:#00ffae;
}
.Checkbox1{
    justify-content: center;
    display: inline-table;
    text-align: initial;
}

.bugbotton-close{
    background-color: #00ffae;
    border: 0;
    border-color: #00ffae;
    transition: all 0.8s ease-out;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 16px;
    margin: 12px;
    

}
.bugbotton-submite{
    background-color: #00ffae;
    border: 0;
    border-color: #00ffae;
    transition: all 0.8s ease-out;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 16px;

    
}
/*Checkbox*/
.container {
    display: block;
    position: relative;
    padding-left: 19px;
    margin-bottom: 13px;
    cursor: pointer;
 
  }
  
  /* Esconder o checkbox padrão */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Criar o checkbox customizado */
  .checkmark {
    position: absolute;
    top: 0;
    left: -10px;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border-radius: 2px;

  }
  
  /* Adicionar uma cor de fundo cinza ao passar o mouse */
  .container:hover input ~ .checkmark {
    background-color: #CCC;
  }
  
  /* Quando o checkbox é clicado, adicionar um fundo rosa */
  .container input:checked ~ .checkmark {
    background-color: #00EAFF;
  }
  
  /* Criar o ícone de check, escondido quando não estiver selecionado */
  .container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid #038c61;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* Exibir o ícone quando selecionado */
  .container input:checked ~ .checkmark:after {
    display: block;
  }