body{
  margin: 0;

  background: linear-gradient(76deg,#23232e,#464646);
  background-size: cover;
}

h7{
  color: white;
}

h1{
  color: whitesmoke;
  text-align: center;
}

.box{
  align-items: center;
}

#barra{
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 40px;
  background: #0a1b2d;
  color: #f0f5fb;  
  border: none;
}

input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
  width: 70%;
}

#lista{
  font-size:  1.5em;
  margin-left: 90px;
}

.noticias{
  display: list-item;
  color: white;
} 

.cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background: #23232e;
  box-shadow: 0px 3px 12px #00000056;
  position: fixed;
}

.menu-lateral-btn{
  cursor: pointer;
  justify-content: left;
  transition: 0.5s;
}
.menu-lateral-btn div{
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}

/*Nome do site*/
.nome{
  display: flex;
  align-items: center;
  justify-content: left;
}
.nome a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: 0.5s;
}
.nome a:hover{
  opacity: 0.7;
}

/*Links do Header*/
.nav-cab-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list-1{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item-1{
  margin: 0 15px;
}
.nav-link-1{
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.7s;
}
.nav-link-1:hover{
  opacity: 0.7;
}

/*Botão de entrar*/
.btn-login  button{
  border: none;
  background-color: #0187a7;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
  transition: 0.7s;
}
.btn-login  button  a{
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.btn-login button:hover{
  padding: 15px 20px;
  box-shadow: 0px 10px 40px -12px #0187a7;
}

/*------Parte 2(Aside)------*/

/*O espaço do Menu Lateral*/
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  padding-top: 30px;
  margin-top: 70px;
  top: 0;
  left: 0;
  background: #23232e;
  transition: 0.5s;
  transition-property: left;
}

/*Imagem lateral*/
.sidebar .imagem{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.sidebar h2{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.sidebar a{
  color: white;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar a:hover{
  background: #369dd8;
}
.sidebar .icon{
  padding-right: 10px;
}

/*Label*/
label #sidebar-btn{
  z-index: 1;
  position: fixed;
  left: 300px;
  color: white;
  font-size: 30px;
  margin: 5px 0px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: color;
}
label .menu-lateral-btn:hover{
  color: #0187a7;
}

/*Configurações do Side bar*/
#check:checked ~ .sidebar{
  left: -190px;
}
#check:checked ~ .sidebar  a span.txt-link{
  display: none;
}
#check:checked ~ .sidebar h2{
  display: none;
}
#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
} 