*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*---Parte 1---*/
body{
    font-size: 100%;
    background: linear-gradient(#23232e, #2e2525 );
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

/*.cabecalho-imagem{
    height: 72px;
}*/

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff2ef;
    font-weight: 400;
    font-size: 18px;
}

/*---Parte 2---*/
.conteudo{
    border-top: 0.4px solid #fff2ef;
    margin-bottom: 48px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 64px;
    color: #fff2ef;
}

.conteudo-principal-escrito-subtitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
    align-items: center;
}

.conteudo-principal-escrito-botao{
    background-color: #0187a7;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #23232e;
    transition: 0.7s;
    cursor: pointer;
}
.conteudo-principal-escrito-botao:hover{
    background-color: rgb(0, 0, 0, 0.25);
    color: #0187a7;
    width: 200px;
    height: 80px;
}

.conteudo-principal-imagem{
    height: 430px;
    transition: 0.7s;
}
.conteudo-principal-imagem:hover{
    height: 500px;
}

/*---Parte 3---*/
.conteudo-secundario{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    letter-spacing: 1px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#fff2ef;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 18px;
    color: #fff2ef;
}

/*---Parte 4---*/
.rodape{
    padding: 32px;
    border-top: 0.4px solid #fff2e7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}
.Twitter {
    --bg-color :#1673b6;
    --bg-color-light: #d8edfc;
    --text-color-hover:#fff;
    --box-shadow-color: rgba(215, 235, 255, 0.237);
  }
  
  .Instagram {
    --bg-color: #2f00b1;
    --bg-color-light: #ffffff;
    --text-color-hover:  #fff;
    --box-shadow-color: rgba(188, 221, 255, 0.48);
  }
  .youtube {
    --bg-color: #b10808;
    --bg-color-light: #ffffff;
    --text-color-hover:  #fff;
    --box-shadow-color: rgba(188, 221, 255, 0.48);
  }
  
  .reddit{
    --bg-color: orange;
    --bg-color-light: #ffffff;
    --text-color-hover:  #fff;
    --box-shadow-color: rgba(188, 221, 255, 0.48);
  }
  .card {
    width: 220px;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-out;
    text-decoration: none;
  }
  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow:  0 24px 36px rgba(0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
  }
  .card:hover .cor {
    transform: scale(4) translateZ(0)
  }
  .card:hover .forma{
    background: var(--bg-color);
    border: 2px dotted var(--bg-color-light);
  }
  .card:hover .forma:after{
    background: var(--bg-color-light);
  }
  .card:hover p{
    color: var(--text-color-hover)
  }
  .card:active{
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
  }
  .card p{
    font-size: 17px;
    color: #ffffff;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.5s ease-out;
  }
  .forma{
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease-out;
  }
  .forma:after{
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: opacity 0.5s ease-out;
  }
  
  .forma svg {
    z-index: 10000;
    transform: translateZ(0);
  }
  .cor {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left:50px;
    z-index: 0;
    transition: transform 0.5s ease-out;
  }

/*---Parte 5---*/
.geral-btn-bug{
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.Adalberto{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bugbotton {
  background-color: #2f2f2f;
  border-color: #00ffae;
  border-radius: 20%;
  transition: all 0.4s ease-out;

}
.bugbotton:hover,
.bugbotton-close,
.bugbotton-submite {
  opacity: 0.8;
}
.bugbotton:active,
.bugbotton-close,
.bugbotton-submite {
  transform:scale(0.8) ;
}
.popup{
  position: absolute;
  background-color: black  ;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  display: block;
  width: 300px;
  height: 300px;
  transition: all 0.4s ease-out;
  z-index: -1;
  transform: scale(0.4);
  opacity: 0;
  border: 4px solid #038c61;
}
.popup.opened{

  z-index: 999;
  transform: scale(1);
  opacity: 1;
}
.checkboxtxt{
  margin: 19px;
}
.Bug{
  top: 7px;
  left: 7px;
  font-size:small;
color:#00ffae;
}
.Checkbox1{
  justify-content: center;
  display: inline-table;
  text-align: initial;
}

.bugbotton-close{
  background-color: #00ffae;
  border: 0;
  border-color: #00ffae;
  transition: all 0.8s ease-out;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 16px;
  margin: 12px;
  

}
.bugbotton-submite{
  background-color: #00ffae;
  border: 0;
  border-color: #00ffae;
  transition: all 0.8s ease-out;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 16px;

  
}
/*Checkbox*/
.container {
  display: block;
  position: relative;
  padding-left: 19px;
  margin-bottom: 13px;
  cursor: pointer;

}

/* Esconder o checkbox padrão */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Criar o checkbox customizado */
.checkmark {
  position: absolute;
  top: 0;
  left: -10px;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 2px;

}

/* Adicionar uma cor de fundo cinza ao passar o mouse */
.container:hover input ~ .checkmark {
  background-color: #CCC;
}

/* Quando o checkbox é clicado, adicionar um fundo rosa */
.container input:checked ~ .checkmark {
  background-color: #00EAFF;
}

/* Criar o ícone de check, escondido quando não estiver selecionado */
.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid #038c61;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Exibir o ícone quando selecionado */
.container input:checked ~ .checkmark:after {
  display: block;
}

