*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*------Parte 1(Header)------*/

/*Header*/
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    height: 15vh;
    background: #1a1a24;
    box-shadow: 0px 3px 12px #00000056;
    position: fixed;
    overflow: hidden;
    z-index: 2;
}

/*Meu Lateral Icone*/
.menu-lateral-btn{
    cursor: pointer;
    justify-content: left;
    transition: 0.5s;
}
.menu-lateral-btn div{
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
}

/*Nome do site*/
.nome{
    display: flex;
    align-items: center;
    justify-content: left;
}
.nome a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: 0.5s;
}
.nome a:hover{
    opacity: 0.7;
}

/*Links do Header*/
.nav-cab-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list-1{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item-1{
    margin: 0 15px;
}
.nav-link-1{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.7s;
}
.nav-link-1:hover{
    opacity: 0.7;
}

/*Botão de entrar*/
.btn-login  button{
    border: none;
    background-color: #0187a7;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px;
    transition: 0.7s;
}
.btn-login  button  a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.btn-login button:hover{
    padding: 15px 20px;
    box-shadow: 0px 10px 40px -12px #0187a7;
}

/*------Parte 2(Aside)------*/

/*O espaço do Menu Lateral*/
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    padding-top: 30px;
    margin-top: 70px;
    top: 0;
    left: 0;
    background: #1a1a24;
    transition: 0.5s;
    transition-property: left;
}

/*Imagem lateral*/
.sidebar .imagem{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.sidebar h2{
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: white;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: #369dd8;
}
.sidebar .icon{
    padding-right: 10px;
}

/*Label*/
label #sidebar-btn{
    z-index: 1;
    position: fixed;
    left: 300px;
    color: #23232e;
    font-size: 30px;
    margin: 5px 0px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}
label .menu-lateral-btn:hover{
    color: #0187a7;
}

/*Configurações do Side bar*/
#check:checked ~ .sidebar{
    left: -190px;
}
#check:checked ~ .sidebar  a span.txt-link{
    display: none;
}
#check:checked ~ .sidebar h2{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

/*------Parte 3(main)------*/

/*configurações Content)*/
.content{
    background: #23232E;
    background-size: cover;
    width: 98.85vw;
    transition: 0.5s;
}
#check{
    display: none;
}

/*teste*/

/*header#teste{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*---Parte 1---*/
body{
    font-size: 100%;
    background: wheat;
}

/*---Parte 2---*/
.conteudo{
    border-top: 0.4px solid #23232e;
    padding-bottom: 68px;
    padding-top: 180px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 64px;
    text-align: left;
    justify-content: flex-start;
    margin-left: 60px;
    color: white;
}

.conteudo-principal-escrito-subtitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    justify-content: flex-start;
    margin-left: 60px;
    color: white;
    align-items: center;
}

.conteudo-principal-escrito-botao{
    background-color: #0187a7;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    transition: 0.7s;
    cursor: pointer;
}
.conteudo-principal-escrito-botao:hover{
    background-color: rgb(0, 0, 0, 0.25);
    color: #0187a7;
    width: 200px;
    height: 80px;
}

.conteudo-principal-imagem{
    height: 430px;
    transition: 0.7s;
}
.conteudo-principal-imagem:hover{
    height: 500px;
}

/*---Parte 3---*/
.conteudo-secundario{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    letter-spacing: 1px;
    margin-top: 48px;
    margin-left: 90px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid wheat;
    padding-top: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 18px;
    color: white;
    text-align: center;
}

/*--parte4--*/

/*Footer*/

/*rodape*/
.rodape{
    background-color: #2d2a30;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-left: 30px;
}

/*divs-coonfig*/
.rodape .left-footer, .rodape .footer-center, .rodape .footer-right{
    display: inline-block;
    vertical-align: top;
}

/*left-footer*/
.rodape .left-footer{
    width: 30%;
}
.rodape .left-footer h3{
    color: white;
    font: normal 36px verdana;
}
.rodape .left-footer h3 span{
    color: #369dd8;
}

/*Footer-links*/
.rodape .footer-links{
    color: white;
    margin: 20px 0px 12px;
}
.rodape .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

/*footer-company-name*/
.rodape .footer-company-name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/*Footer-center*/
.rodape .footer-center{
    width: 35%;
}
.rodape .footer-center i{
    background-color: #33383b;
    color: white;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}


.rodape .footer-center p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
}

.rodape .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.rodape .footer-center p a{
    color: #369dd8;
    text-decoration: none;
}

/*Footer-right*/
.footer-right{
    width: 30%;
}

.rodape .footer-company-about{
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.rodape .footer-company-about span{
    display: block;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}
/*footer-icons*/
.rodape .footer-icons{
    margin-top: 25px;
}

.rodape .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.rodape .footer-icons a:hover{
    background-color: #3f71ea;
}

.footer-links a:hover{
    color: #3f71ea;
}

@media (max-width:800px){
    .rodape .footer-links, .rodape .footer-center, .rodape .footer-right, .rodape .left-footer{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .rodape .footer-center i{
        margin-left: 0;
    }


}